In [3]:
import pandas as pd
import numpy as np
import os

np.random.seed(42)

NUM_ORDERS = 200_000

orders = pd.DataFrame({
    "order_id": range(1, NUM_ORDERS + 1),
    "customer_id": np.random.randint(1, 50001, NUM_ORDERS),
    "product_id": np.random.randint(1, 5001, NUM_ORDERS),
    "order_date": pd.to_datetime(
        np.random.choice(
            pd.date_range("2022-01-01", "2023-12-31"),
            NUM_ORDERS
        )
    ),
    "quantity": np.random.randint(1, 5, NUM_ORDERS),
    "discount": np.round(np.random.uniform(0, 0.5, NUM_ORDERS), 2),
    "order_status": np.random.choice(
        ["Delivered", "Cancelled", "Returned"],
        size=NUM_ORDERS,
        p=[0.85, 0.1, 0.05]
    )
})

os.makedirs("data/raw", exist_ok=True)

orders.to_csv("data/raw/orders.csv", index=False)

print("orders.csv generated successfully")
orders.head()

orders.csv generated successfully

,order_id,customer_id,product_id,order_date,quantity,discount,order_status
0,1,15796,2346,2022-06-09,3,0.40,Delivered
1,2,861,989,2022-05-15,4,0.42,Delivered
2,3,38159,422,2023-10-26,3,0.02,Delivered
3,4,44733,1945,2022-02-11,1,0.24,Delivered
4,5,11285,878,2023-01-18,3,0.24,Delivered